<!dOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>台北一日遊</title>
    <link rel="stylesheet" type="text/css" href="/static/index.css"></link>
</head>
<body>
    <div class="headerContainer">
        <header>
            <div class="logo">
                <p>
                    台北一日遊
                </p>
            </div>
            <div class="menuContainer"></div>
            <div class="menu">
                <a>
                    預定行程
                </a>
                <a>
                    登入/註冊
                </a>
            </div>
        </header>
    </div>

    <div class="titlebanner"></div>
    
    <div class="banner">
        <div class="title">
            <p class="bannerTital">輕鬆享受台北一日悠閒</p>
            <p class="bannertext">探索每個角落，體驗城市的深度旅遊行程</p>
            <form class="search">
                <input type="text" id="searchData" placeholder="輸入景點名稱查詢" onkeydown="if (event.keyCode == 13) {submit.focus();}">
                <div class="getdata" onkeydown="enter(event);" onclick="searchKeyword();" method="get">
                    <input type="button" data-action="submit" id="submit" tabindex="0">
                </div>
            </form>
        </div>
    </div>
    <main id="main">
        <div id="item">
        </div>
    </main>
    <div id="hide0">
        <p>搜尋無此景點</p>
    </div>

    <main id="searchResult">
        <div id="item1">
        </div>
        </div>
    </main>
    <div class="root">
        <div id="rootContainer"></div>
    </div>
    <div class="root0">
        <div id="rootContainer0"></div>
    </div>
    <footer>
        <p>
            copyright ©2022台北一日遊
        </p>
    </footer>
    </div>
</body>
<script src="/static/index.js"></script>

</html>